@model IEnumerable<GradesModel>

@{
    ViewData["Title"] = "Grades";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/GradesStyle.css" />
    <link rel="stylesheet" href="~/css/MenuStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}

<!--Side Menu-->
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">Job orientation</span>
                    <span class="profession"><i>Computer Science</i> </span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                
                <ul class="menu-links">
                    <li class="nav-link">
                        <a class="homebtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Homepage">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Homepage</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Subjects">
                            <i class='bx bx-list-ul icon'></i>
                            <span class="text nav-text">Subjects</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Progress">
                            <i class='bx bx-line-chart icon'></i>
                            <span class="text nav-text">Progress</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Grades">
                            <i class='bx bx-history icon'></i>
                            <span class="text nav-text">Past Grades</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Questionnaire">
                            <i class='bx bx-pencil icon'></i>
                            <span class="text nav-text">Career Test</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Recommendations">
                            <i class='bx bx-check-circle icon'></i>
                            <span class="text nav-text">Career Recommendations</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Profile">
                            <i class='bx bx-male icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>


                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a class="logoutbtn" asp-controller="Home" asp-action="Login">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                

            </div>
        </div>
    </nav>

    <section class="home">

        <div class="header">
            <div class="text title">
                Past Grades   <div class="help-container">
                    <button href="#" class="help-button" data-bs-toggle="modal" data-bs-target="#mymodal"><i class='bx bx-help-circle'></i></button>
                </div>
            </div>
            <div class="right-corner">
                <img src="~/Resources/icons8-male-user-24 (1).png">
                <div class="smalltext username ">@ViewBag.username </div>
            </div>
        </div>
        <div class="main">
            <h4>Please submit below the grades you have earned in each of the following courses.</h4>
            <h5>
                <i>
                    Note: The grades refer to the grades in your university courses and are not based on the results you got from the curriculum
                    tests you are taking in this platform.
                </i>
            </h5>
               
                <form form asp-controller="Home" asp-action="SubmitGrades" method="post" class="grades-btn">
                    
                    <div class="course">
                        <label for="grades" class="gr-title">@ViewBag.subjects[Model.ToList()[0].sub_id]:  </label>
                        <select name="grade1" id="grades" p>
                        <option value="" disabled selected>@Model.ToList()[0].grade</option>
                            <option value="None">I haven't gotten a grade yet</option>
                            <option value="0">0</option>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                            <option value="6" >6</option>
                            <option value="7" >7</option>
                            <option value="8" >8</option>
                            <option value="9" >9</option>
                            <option value="10" >10</option>
                        </select>
                    </div>
                    <div class="course">
                        <label for="grades" class="gr-title">@ViewBag.subjects[Model.ToList()[1].sub_id]:  </label>
                    <select name="grade2" id="grades">
                            <option value="" disabled selected>@Model.ToList()[1].grade</option>
                            <option value="None" >I haven't gotten a grade yet</option>
                            <option value="0" >0</option>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                            <option value="6" >6</option>
                            <option value="7" >7</option>
                            <option value="8" >8</option>
                            <option value="9" >9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <input type="hidden" id="text" name="username" value="@ViewBag.username" />

                    <input type="hidden" id="text" name="sub_id1" value="@Model.ToList()[0].sub_id" />

                    <input type="hidden" id="text" name="sub_id2" value="@Model.ToList()[1].sub_id" />

                    <button id="btnDone" type="submit" class="done">
                        Update Grades
                    </button>
                </form>

               
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="mymodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title"><i class='bx bx-help-circle'></i>Help</h3>
                        
                    </div>
                    <div class="modal-body">
                        <h5>In the Past Grades page, you are kindly asked to submit your official grades from the University</h5>
                        <h6><b>To submit a grade:</b> </h6>
                        <h6>•Select your grade from the dropdown list</h6>
                        <h6>•Repeat for each course</h6>
                        <h6>•Click on the <span class="colored">'Update Grades'</span> button</h6>

                    </div>

                </div>
            </div>
        </div>
        
    </section>

    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text"),
            buttonplay = body.querySelector(".play"),
            buttonpause = body.querySelector(".pause");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });
    </script>

    </body>




