@model ProgressViewModel

@{
    ViewData["Title"] = "Progress";
}

@section Styles{
    <link rel="stylesheet" href="~/css/ProgressStyle.css" />
    <link rel="stylesheet" href="~/css/MenuStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}

<!--Side Menu-->
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">Job orientation</span>
                    <span class="profession"><i>Computer Science</i> </span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu">
            
            <ul class="menu-links">
                <li class="nav-link">
                    <a class="homebtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Homepage">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Homepage</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Subjects">
                        <i class='bx bx-list-ul icon'></i>
                        <span class="text nav-text">Subjects</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Progress">
                        <i class='bx bx-line-chart icon'></i>
                        <span class="text nav-text">Progress</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Grades">
                        <i class='bx bx-history icon'></i>
                        <span class="text nav-text">Past Grades</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Questionnaire">
                        <i class='bx bx-pencil icon'></i>
                        <span class="text nav-text">Career Test</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Recommendations">
                        <i class='bx bx-check-circle icon'></i>
                        <span class="text nav-text">Career Recommendations</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Profile">
                        <i class='bx bx-male icon'></i>
                        <span class="text nav-text">Profile</span>
                    </a>
                </li>


            </ul>
        </div>
    </nav>

        <section class="home">

            <div class="header">
                <div class="text title">Your Progress</div>
                <div class="right-corner">
                    <img src="~/Resources/icons8-male-user-24 (1).png"></img>
                    <div class="smalltext username ">@ViewBag.username </div>
                </div>
            </div>
            <div class="main">
                <div class="left container">
                @if (Model.progress_table.Count() != 0)
                {
                     @foreach(var test in @Model.progress_table)
                        
                     {
                        <div class="test">
                            <div class="head">
                                <h2>Test Info</h2>
                                @{
                                    var diff = DateTime.Now - Convert.ToDateTime(test.time);
                                }
                                @if (diff.TotalDays < 1 && diff.TotalMinutes>60)
                                {
                                    <div class="date">@diff.Hours h ago</div>
                                }
                                else if (diff.TotalMinutes < 60 && diff.TotalSeconds>60)
                                {                                                          
                                    <div class="date">@diff.Minutes min ago</div>

                                }
                                else if (diff.TotalSeconds < 59)
                                {
                                    <div class="date">@diff.Seconds sec ago</div>


                                }
                                else
                                {
                                    
                                    <div class="date">@diff</div>

                                }

                                </div>
                                <div style="text-align:right">
                                @if (@test.score >= 74)
                                {
                                    <div class="score" style="color:#92D050">
                                        <i class='bx bx-happy' style="color:#92D050"></i>
                                        @test.score %
                                    </div>
                                }
                                else if (@test.score < 74 && @test.score > 49)
                                {
                                    <div class="score" style="color:orange"><i class='bx bx-confused'></i>@test.score %</div>
                                }
                                else
                                {
                                    <div class="score" style="color:orangered">
                                        <i class='bx bx-sad' style="color:orangered"></i>
                                        @test.score %
                                    </div>

                                }
                                </div>
                               
                            
                                <table>
                                    
                                    <tr>
                                        <td class="l">Subject</td>
                                        <td class="r">@test.sub_id</td>
                                    </tr>
                                    <tr>
                                        <td class="l">Test Type</td>
                                        @if (test.test_type == "A")
                                        {
                                            <td class="r">Assessment Test</td>
                                        }
                                        else if (test.test_type == "E")
                                        {
                                            <td class="r">Evaluation Test</td>
                                        }
                                    </tr>
                                    
                                   
                                </table>
                            </div>                                  
                           
                                                
                    }
                }
                else
                {
                    <div class="empty-progress">
                        <h2>Looks like you haven't taken any tests</h2>

                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Subjects">
                            Go to subjects and take a test
                        </a>
                    </div>
                    
                   
                }

            </div>
            <div class="right container">
                <h2>Statistics</h2>
                <table>
                        <tr><td><h4>Units</h4></td></tr>
                        <tr>
                        <td class="l">Description</td>
                        @if (@Model.statistics_table.description_score == -1)
                        {
                            <td class="r">Hasn't been checked yet</td>
                        }
                        else
                        {                                 
                            <td class="r">@Model.statistics_table.description_score %</td>

                        }
                        </tr>

                        <tr>
                        <td class="l">Learning Outcomes</td>
                        @if (@Model.statistics_table.learning_outcomes_score == -1)
                        {
                            <td class="r">Hasn't been checked yet</td>
                        }
                        else
                        {
                            <td class="r">@Model.statistics_table.learning_outcomes_score %</td>

                        }
                        </tr>

                        <tr>
                        <td class="l">Skills Acquired</td>
                        @if (@Model.statistics_table.skills_acquired_score == -1)
                        {
                            <td class="r">Hasn't been checked yet</td>
                        }
                        else
                        {
                            <td class="r">@Model.statistics_table.skills_acquired_score %</td>

                        }
                        </tr>

                        <tr>
                        <td class="l">Specialization</td>
                        @if (@Model.statistics_table.specialization_link_score == -1)
                        {
                            <td class="r">Hasn't been checked yet</td>
                        }
                        else
                        {
                            <td class="r">@Model.statistics_table.specialization_link_score %</td>

                        }
                    </tr>
                    <tr><td><h4>Questions Types</h4></td></tr>

                        <tr>
                        <td class="l">Multiple Choice</td>
                        @if (@Model.statistics_table.multiple_choice_score == -1)
                        {
                            <td class="r">Hasn't been checked yet</td>
                        }
                        else
                        {
                            <td class="r">@Model.statistics_table.multiple_choice_score %</td>

                        }
                    </tr>
                    <tr>
                        <td class="l">True/False</td>
                        @if (@Model.statistics_table.true_false_score == -1)
                        {
                            <td class="r">Hasn't been checked yet</td>
                        }
                        else
                        {
                            <td class="r">@Model.statistics_table.true_false_score %</td>

                        }                    </tr>
                    <tr>
                        <td class="l">Completion</td>
                        @if (@Model.statistics_table.completion_score == -1)
                        {
                            <td class="r">Hasn't been checked yet</td>
                        }
                        else
                        {
                            <td class="r">@Model.statistics_table.completion_score %</td>

                        }
                    </tr>
                    <tr>
                        <td class="l">Matching</td>
                        @if (@Model.statistics_table.matching_score == -1)
                        {
                            <td class="r">Hasn't been checked yet</td>
                        }
                        else
                        {
                            <td class="r" >@Model.statistics_table.matching_score %</td>

                        }
                    </tr>
                </table>
            </div>
        </div>


    </section>

    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text"),
            buttonplay = body.querySelector(".play"),
            buttonpause = body.querySelector(".pause");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });
    </script>

    </body>




