@model Education_Software.Models.RegistrationModel

@{
    ViewData["Title"] = "Registration";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="~/css/loginStyle.css" />
}
<div class="page">
    <div class="sign-in-form">
        <form asp-controller="Home" asp-action="Registration" method="post" class="form">
            <h1>Sign In</h1>
            <div class="inputs">
                <input type="text" placeholder="Username" class="input" asp-for="username" />
            </div>
            <div class="inputs">
                <input type="password" placeholder="Password" class="input" asp-for="password" />
            </div>
            <div class="inputs">
                <input type="text" placeholder="First Name" class="input" asp-for="firstname" />
            </div>
            <div class="inputs">
                <input type="text" placeholder="Last Name" class="input" asp-for="lastname" />
            </div>
            <div class="inputs">
                <input type="text" placeholder="Email" class="input" asp-for="email" />
            </div>
            <div class="inputs">
                <input type="text" placeholder="Phone Number" class="input" asp-for="phone_number" />
            </div>

            <div class="placeholder">Gender</div>
            <div class="radios">
                <div class="labels">
                    @Html.RadioButtonFor(r=>r.gender,"F", new{id="F"})<label for="F"> Female</label><br>
                </div>
                <div class="labels">
                    @Html.RadioButtonFor(r=>r.gender,"M", new{id="F"})<label for="M"> Male</label><br>
                </div>
                <div class="labels">
                    @Html.RadioButtonFor(r=>r.gender,"O", new{id="F"})<label for="O"> Other</label><br>
                </div>

            </div>
            <div class="placeholder">Current State</div>

            <div class="radios">
                <div class="labels">
                    @Html.RadioButtonFor(r=>r.student_state,"U", new{id="U"})<label for="U"> Undergraduate</label><br>
                </div>
                <div class="labels">
                    @Html.RadioButtonFor(r=>r.student_state,"G", new{id="G"})<label for="G"> Has Graduated</label><br>
                </div>

            </div>

            <div class="inputs">
                <input type="submit" class="submit-btn" value="Sign Up" class="input" />

            </div>


        </form>
        <div class="register">
            <h4>Already have an account?</h4>
            <a class="signin" asp-controller="Home" asp-action="Login">
                <h5>Sign In</h5>
            </a>

        </div>

        <div class="help-container">
            <button href="#" class="help-button" data-bs-toggle="modal" data-bs-target="#mymodal"><i class='bx bx-help-circle'></i></button>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="mymodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class='bx bx-help-circle'></i> Help</h4>
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>-->
                    </div>
                    <div class="modal-body">
                        <h5>This is the Sign Up page</h5>
                        <h6><b>To Sign Up:</b></h6>
                        <h6>•Fill in a <span class="colored">username</span>, a <span class="colored">password</span>, your
                            <span class="colored">fullname</span>, <span class="colored">email</span>,
                            <span class="colored">phone number</span>, <span class="colored">gender</span> and <span class="colored">current state</span>
                            </h6>
                        <h6>•Click on the <span class="colored">'Sign Up'</span>  button</h6>
                        <h6><b>If you have already an account:</b></h6>
                        <h6>Click on the <span class="colored">'Sign In' </span>button</h6>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="shape-container">
        <img src="@Url.Content("~/Resources/login-image.png")" class="image" />

        <h2 class="text">We help you find your <i>dream career</i></h2>
    </div>
</div>
