@model Education_Software.Models.RegistrationModel

@{
    ViewData["Title"] = "Registration";
}
@section Styles {
    <link rel="stylesheet" href="~/css/loginStyle.css" />
}
<div class="page">
    <div class="sign-in-form">
        <form asp-controller="Home" asp-action="Registration" method="post" class="form">
            <h1>Sign In</h1>
            <div class="inputs">
                <input type="text" placeholder="Username" class="input" asp-for="username" />
            </div>
            <div class="inputs">
                <input type="password" placeholder="Password" class="input" asp-for="password" />
            </div>
            <div class="inputs">
                <input type="text" placeholder="First Name" class="input" asp-for="firstname" />
            </div>
            <div class="inputs">
                <input type="text" placeholder="Last Name" class="input" asp-for="lastname" />
            </div>
            <div class="inputs">
                <input type="text" placeholder="Email" class="input" asp-for="email" />
            </div>
            <div class="inputs">
                <input type="text" placeholder="Phone Number" class="input" asp-for="phone_number" />
            </div>

            <div class="placeholder">Gender</div>
            <div class="radios">
                <div class="labels">
                    @Html.RadioButtonFor(r=>r.gender,"F", new{id="F"})<label for="F"> Female</label><br>
                </div>
                <div class="labels">
                    @Html.RadioButtonFor(r=>r.gender,"M", new{id="F"})<label for="M"> Male</label><br>
                </div>
                <div class="labels">
                    @Html.RadioButtonFor(r=>r.gender,"O", new{id="F"})<label for="O"> Other</label><br>
                </div>

            </div>
            <div class="placeholder">Current State</div>

            <div class="radios">
                <div class="labels">
                    @Html.RadioButtonFor(r=>r.student_state,"U", new{id="U"})<label for="U"> Undergraduate</label><br>
                </div>
                <div class="labels">
                    @Html.RadioButtonFor(r=>r.student_state,"G", new{id="G"})<label for="G"> Has Graduated</label><br>
                </div>

            </div>

            <div class="inputs">
                <input type="submit" class="submit-btn" value="Submit" class="input" />

            </div>


        </form>
        <div class="register">
            <h4>Already have an account?</h4>
            <a class="signin" asp-controller="Home" asp-action="Login">
                <h5>Sign In</h5>
            </a>

        </div>
    </div>
    <div class="shape-container">
        <img src="@Url.Content("~/Resources/login-image.png")" class="image" />

        <h2 class="text">We help you find your <i>dream career</i></h2>
    </div>
</div>
