@model IEnumerable<SubjectModel>

@{
    ViewData["Title"] = "Subjects";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/SubjectsStyle.css" />

    <link rel="stylesheet" href="~/css/MenuStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}

<!--Side Menu-->
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">Job orientation</span>
                    <span class="profession"><i>Computer Science</i> </span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                
                <ul class="menu-links">
                    <li class="nav-link">
                        <a class="homebtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Homepage">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Homepage</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Subjects">
                            <i class='bx bx-list-ul icon'></i>
                            <span class="text nav-text">Subjects</span>
                        </a>
                    </li>
                        <li class="nav-link">
                            <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Progress">
                                <i class='bx bx-line-chart icon'></i>
                                <span class="text nav-text">Progress</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Grades">
                                <i class='bx bx-history icon'></i>
                                <span class="text nav-text">Past Grades</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Questionnaire">
                                <i class='bx bx-pencil icon'></i>
                                <span class="text nav-text">Career Test</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Recommendations">
                                <i class='bx bx-check-circle icon'></i>
                                <span class="text nav-text">Career Recommendations</span>
                            </a>
                        </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Profile">
                            <i class='bx bx-male icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>

                   
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a class="logoutbtn" asp-controller="Home" asp-action="Login">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>


            </div>
        </div>
    </nav>

    <section class="home">

        <div class="header">
            <div class="text title">Subjects</div>
            <div class="right-corner">
                <img src="~/Resources/icons8-male-user-24 (1).png"></img>
                <div class="smalltext username ">@ViewBag.username </div>
            </div>
        </div>
        <div class="main">
            <div class="subject-list">
                <table>
                   
                        @foreach (var subject in Model)

                    {
                        <tr>
                            <td>
                                <form asp-controller="Home" asp-action="Subject" method="post" class="left-form-up">
                                    <input type="hidden" name="subject" value="@subject.title"/>
                                    <input type="hidden" name="username" value="@ViewBag.username" />
                                    <input type="submit" class="subject" value="@subject.title" />
                                    <i class='bx bx-chevron-right icon'></i>
                                </form>
                            </td>
                            <td>
                                
                            </td>
                        </tr>

                    }
                    
                    <tr>
                        <td>
                            <br />
                            <br />
                            <h5>
                                <i>
                                    Note: In order to access the Evaluation Test, you have to read the content of each subject and pass the test in the end of the chapter.
                                </i><
                            </h5>
                            <form asp-controller="Home" asp-action="EvaluationTest" method="post" class="left-form-up">
                                <input type="hidden" name="evaluationtest" value="Evaluation Test" />
                                <input type="hidden" name="username" value="@ViewBag.username" />
                                <input type="submit" class="subject" value="Evaluation Test" />
                                <i class='bx bx-chevron-right icon'></i>
                            </form>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
                
                
            </div>
            <div class="help-container">
                <button href="#" class="help-button" data-bs-toggle="modal" data-bs-target="#mymodal"><i class='bx bx-help-circle'></i></button>
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="mymodal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><i class='bx bx-help-circle'></i>Help</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>In this page, you see all of the available courses</h5>
                            
                            <h6>•Pick a course to be redirected to the course's page, view the material and take tests!</h6>
                            <h6>•<i>After</i> completing all of your tests, the evaluation test will appear here</h6>
                        </div>
                        
                    </div>
                </div>
            </div>


        </div>
       

    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text"),
            buttonplay = body.querySelector(".play"),
            buttonpause = body.querySelector(".pause");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });
       
    </script>

</body>





