@model IEnumerable<QuestionModel>

@{
    ViewData["Title"] = "Tests";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Questionnaire.css" />
    <link rel="stylesheet" href="~/css/MenuStyle.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

}

<!--Side Menu-->
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">Job orientation</span>
                    <span class="profession"><i>Computer Science</i> </span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a class="homebtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Homepage">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Homepage</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Subjects">
                            <i class='bx bx-list-ul icon'></i>
                            <span class="text nav-text">Subjects</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Progress">
                            <i class='bx bx-line-chart icon'></i>
                            <span class="text nav-text">Progress</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Grades">
                            <i class='bx bx-history icon'></i>
                            <span class="text nav-text">Past Grades</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Questionnaire">
                            <i class='bx bx-pencil icon'></i>
                            <span class="text nav-text">Career Test</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Recommendations">
                            <i class='bx bx-check-circle icon'></i>
                            <span class="text nav-text">Career Recommendations</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="profbtn" asp-controller="Home" asp-route-username="@ViewBag.username" asp-action="Profile">
                            <i class='bx bx-male icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>


                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a class="logoutbtn" asp-controller="Home" asp-action="Login">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                

            </div>
        </div>
    </nav>

    <section class="home">

        <div class="header">
                <div class="text title">@ViewBag.subject Test
                <div class="help-container">
                    <button href="#" class="help-button" data-bs-toggle="modal" data-bs-target="#mymodal"><i class='bx bx-help-circle'></i></button>
                </div>
                </div>
            <div class="right-corner">
                <img src="~/Resources/icons8-male-user-24 (1).png"></img>
                    <div class="smalltext username ">@ViewBag.username </div>
            </div>
        </div>
        <div class="main">
            <div class="questions">

                
                
                <form asp-controller="Home" asp-action="SubmitTest" method="post" class="test-btn" onsubmit="gatherValues('')">
                    <h2>
                        Questions
                    </h2>
                    <input type="hidden" name="username" value="@ViewBag.username" />
                    <input type="hidden" name="subject" value="@ViewBag.subject" />
                    <input type="hidden" name="q_id1" value="@Model.ToList()[0].q_id" />


                    <div class="q">@Model.ToList()[0].question</div>
                    <div>
                        @if ((@ViewBag.submitted == true) && (@ViewBag.results[0] == true))
                        {
                        <i class='bx bxs-check-circle' style="color:#92D050"></i>

                        }
                        else if ((@ViewBag.submitted == true) && (@ViewBag.results[0] == false))
                        {
                        <i class='bx bxs-x-circle' style="color:red"></i>
                        }
                        <div class="radios">
                            @foreach (string answer in @Model.ToList()[0].possible_answers.Split("•"))
                            {
                                string[] arr = @Model.ToList()[0].possible_answers.Split("•");
                                int ind = (int) Array.IndexOf(arr, answer) + (int) 1;
                                string index = ind.ToString();
                                <input type="radio" id="mc" name="answer1" value=@index />
                                <label for="mc">@answer</label>

                            <br/>
                            }
                        </div>
                    </div>


                    <input type="hidden" name="q_id2" value="@Model.ToList()[1].q_id" />
                    <div class="q">@Model.ToList()[1].question</div>
                    @if ((@ViewBag.submitted == true) && (@ViewBag.results[1] == true))
                        {
                    <i class='bx bxs-check-circle' style="color:#92D050"></i>

                        }
                    else if ((@ViewBag.submitted == true) && (@ViewBag.results[1] == false))
                        {
                    <i class='bx bxs-x-circle' style="color:red"></i>
                        }
                    <div class="radios">
                        @foreach (var answer in @Model.ToList()[1].possible_answers.Split("•"))
                        {
                        @answer<br />
                        <input type="radio" id="t" name="answer2" value="true" />
                        <label for="t">True</label><br>
                        <input type="radio" id="f" name="answer2" value="false" />
                        <label for="t">False</label><br>
                        }
                    </div>
                    <input type="hidden" name="q_id3" value="@Model.ToList()[2].q_id" />
                    <div class="q">@Model.ToList()[2].question</div>
                    @if ((@ViewBag.submitted == true) && (@ViewBag.results[2] == true))
                        {
                    <i class='bx bxs-check-circle' style="color:#92D050"></i>

                        }
                    else if ((@ViewBag.submitted == true) && (@ViewBag.results[2] == false))
                        {
                    <i class='bx bxs-x-circle' style="color:red"></i>
                        }
                    @foreach (string answer in @Model.ToList()[2].possible_answers.Split("•"))
                        {
                        var s = @answer.Split("#");
                    <label>@s[0]</label>
                    <input type="text" id="text" name="answer3" class="input">
                    <label>@s[1]</label>
                        }
                    <input type="hidden" name="q_id4" value="@Model.ToList()[3].q_id" />
                    @foreach(var q in @Model.ToList()[3].question.Split("•"))
                    {
                    <div class="q">@q</div>
                    }

                    @if ((@ViewBag.submitted == true) && (@ViewBag.results[3] == true))
                    {
                    <i class='bx bxs-check-circle' style="color:#92D050"></i>

                    }
                    else if ((@ViewBag.submitted == true) && (@ViewBag.results[3] == false))
                    {
                    <i class='bx bxs-x-circle' style="color:red"></i>
                    }
                    <label for="optiona">@Model.ToList()[3].possible_answers.Split('•')[0]</label>
                    <select name="optiona+id" id="optiona">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>

                    <label for="optionb">@Model.ToList()[3].possible_answers.Split('•')[1]</label>
                    <select name="optionb+id" id="optionb">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>

                    <label for="optionc">@Model.ToList()[3].possible_answers.Split('•')[2]</label>
                    <select name="optionc+id" id="optionc">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>

                    <label for="optiond">@Model.ToList()[3].possible_answers.Split('•')[3]</label>
                    <select name="optiond" id="optiond">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <input type="hidden" id="answer4" name="answer4"/>
                    <input type="hidden" name="test_type" value="A" />
                    <br />
                    @if (@ViewBag.submitted != true)
                    {
                    <button type="submit" class="done" id="submit">Submit</button>

                    }
                    <script>
                        function gatherValues(id) {
                            
                            const answera = document.getElementById('optiona'+id).value;
                            const answerb = document.getElementById('optionb'+id).value;
                            const answerc = document.getElementById('optionc'+id).value;
                            const answerd = document.getElementById('optiond'+id).value;

                            let temp = "";
                            temp = answera.concat("a");
                            temp = temp.concat(answerb);
                            temp = temp.concat("b");
                            temp = temp.concat(answerc);
                            temp = temp.concat("c");
                            temp = temp.concat(answerd);
                            temp = temp.concat("d");

                            document.getElementById('answer4').value = temp;
                        }

                    </script>
                </form>
                    @if (@ViewBag.submitted)
                    {
                        <h5>
                        <i>
                            You have answered correctly in @ViewBag.percentage% of the questions.
                        </i>
                        </h5>
                        if(@ViewBag.percentage < 60)
                        {
                            <h5>
                            <i>
                            You have to read again the chapter and make the test again.
                            </i>
                            </h5>
                            <form asp-controller="Home" asp-action="Subject" method="post" class="back-btn">
                            <input type="hidden" name="username" value="@ViewBag.username" />
                            <input type="hidden" name="subject" value="@ViewBag.subject" />
                            <button id="btnDone" type="submit" class="back">
                                <i class='bx bx-arrow-back icon'></i> Back to subject's content.
                            </button>
                            </form>
                        }
                        else
                        {
                        <h5>
                        <i>
                            Do you want to retake the test to improve your results?
                            (Note: You have to read again the chapter to take another test.)
                        </i>
                            </h5>
                        <form asp-controller="Home" asp-action="Subject" method="post" class="test-btn">
                        <input type="hidden" name="username" value="@ViewBag.username" />
                        <input type="hidden" name="subject" value="@ViewBag.subject" />
                        <button id="btnDone" type="submit" class="done buttons icon">
                            Yes, retake the test.
                        </button>
                        </form>
                        <form asp-controller="Home" asp-action="NextSubject" method="post" class="test-btn">
                        <input type="hidden" name="username" value="@ViewBag.username" />
                        <input type="hidden" name="subject" value="@ViewBag.subject" />
                        <button id="btnDone" type="submit" class="done buttons icon">
                            No, go to the next chapter.
                        </button>
                        </form>
                    }

                    }





              






               
            </div>          
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="mymodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title"><i class='bx bx-help-circle'></i>Help</h3>
                        
                    </div>
                    <div class="modal-body">
                        <h5>You will now take a test based on the knowledge you acquired from @ViewBag.subject</h5>
                        <h6><b>To complete the test:</b> </h6>
                        <h6>•Select or write your answer</h6>
                        <h6>•Repeat for each question</h6>
                        <h6>•Click on the <span class="colored">'Submit'</span> button</h6>
                        <h6><b>After the completion of the test:</b> </h6>
                        <h6>The following indicators will appear below each question:</h6>
                        <h6>
                            <i class='bx bxs-check-circle' style="color:#92D050"></i>, if you answered correctly
                        </h6>
                        <h6>
                            <i class='bx bxs-x-circle' style="color:red"></i>, if you answered falsely
                        </h6>

                    </div>

                </div>
            </div>
        </div>
        
        
    </section>

    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text"),
            buttonplay = body.querySelector(".play"),
            buttonpause = body.querySelector(".pause");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });
    </script>

    </body>




